---
title: VMware Spring Cloud® Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

This topic provides an overview of VMware Spring Cloud® Data Flow for Kubernetes v1.4.

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about VMware Spring Cloud® Data Flow for Kubernetes.
The table also provides information about the OSS versions used.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.4.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 03, 2021</td>
    </tr>
    <tr>
        <td>Software component versions:</td>
        <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Data Flow PRO</td>
      <td>1.4.1</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Skipper OSS</td>
      <td>2.8.1</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Composed Task Runner OSS</td>
      <td>2.9.1</td>
    </tr>
</table>

## <a id="limitations"></a> Limitations

The following section lists limitations of VMware Spring Cloud® Data Flow for Kubernetes.

### <a id="gen-limits"></a> General Limitations

* This product is compatible with the following Kubernetes release versions:

    * v1.22.x
    * v1.21.x
    * v1.20.x
    * v1.19.x
    * v1.18.x

* This product is intended to be used with any Kubernetes distribution.
  However, given the number of Kubernetes vendors and configurations,
  not all of them have been tested with SCDF for Kubernetes.

## <a id='getting-started'></a> Getting Started

To set up the dependencies required for installation, see [Preparing to Install VMware Spring Cloud® Data Flow for Kubernetes](preparing-to-install-scdf-for-kubernetes.html).
