---
title: VMware Spring Cloud® Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

Here is an overview of VMware Spring Cloud® Data Flow for Kubernetes v1.6.

## <a id='snapshot'></a> Product snapshot

The following table provides version and version-support information about VMware Spring Cloud® Data Flow for Kubernetes.
The table also provides information about the OSS versions used.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.6.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>January 22, 2024</td>
    </tr>
    <tr>
        <td>Software component versions:</td>
        <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Data Flow PRO</td>
      <td>1.6.1</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Data Flow</td>
      <td>2.11.2</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Skipper OSS</td>
      <td>2.11.2</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Composed Task Runner OSS</td>
      <td>2.11.2</td>
    </tr>
</table>

## <a id="features"></a> Features

* Operational simplicity for provisioning Spring Cloud Data Flow OSS and other ecosystem projects on Kubernetes
* Certified container images for Spring Cloud Data Flow Pro, Spring Cloud Skipper, and Composed Task Runner
* Image-relocation capabilities for air-gapped deployments
* Support for using the relational databases, message brokers, and identity providers of your choice
* Easily explore the provisioned software components in a development environment before promoting to production

* Multi-IO stream support for constructing streaming pipelines using applications that have multiple inputs and outputs
* Container registry updates feature for registered stream and task apps

## <a id="limitations"></a> Limitations

The following section lists limitations of VMware Spring Cloud® Data Flow for Kubernetes.

### <a id="gen-limits"></a> General limitations

* This product is compatible with the following Kubernetes release versions:

    * v1.24.x
    * v1.23.x
    * v1.22.x
    * v1.21.x
    * v1.20.x
    * v1.19.x

* This product is intended to be used with any Kubernetes distribution.
  However, given the number of Kubernetes vendors and configurations,
  not all of them have been tested with SCDF for Kubernetes.

## <a id='getting-started'></a> Getting started

To set up the dependencies required for installation, see [Preparing to install VMware Spring Cloud® Data Flow for Kubernetes](preparing-to-install-scdf-for-kubernetes.html).
