---
title: VMware Spring Cloud® Data Flow for Kubernetes Release Notes
owner: Spring Cloud Data Flow Release Engineering
---

This topic contains the release notes for VMware Spring Cloud® Data Flow for Kubernetes version 1.5.

## <a id="1-5-3"></a>v1.5.3

**Release Date: March 9, 2023**

### Features and Improvements

Included in this release:

- Upgraded Spring Boot to version 2.7.11, addressing multiple CVEs.
- Numerous other bug fixes and improvements. For information about these changes, see [Spring Cloud Data Flow 2.10.3](https://github.com/spring-cloud/spring-cloud-dataflow/releases/tag/v2.10.3) on GitHub.

## <a id="1-5-2"></a>v1.5.2

**Release Date: March 15, 2023**

### Features

Features included in this release:

- Upgraded Spring Boot to version 2.7.9.
- Upgraded Spring Cloud to version 2021.0.6.
- Upgraded Spring Framework to version 5.3.25.
- Added ability to fully configure [Pod](https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/htmlsingle/#_pod_security_context) and [container](https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/htmlsingle/#_container_security_context) security contexts.
- Container security context is now propagated to init container and additional containers.
