---
title: VMware Spring Cloud® Data Flow for Kubernetes Release Notes
owner: Spring Cloud Data Flow Release Engineering
---

This topic contains the release notes for VMware Spring Cloud® Data Flow for Kubernetes version 1.4.

## <a id="1-4-4"></a>v1.4.4

**Release Date: August 19, 2022**

### Features

Features included in this release:

- Upgrades to Spring Boot 2.5.14.

### Fixes

- Fixed a bug that caused `spring.cloud.stream.bindings.output.producer.requiredGroups` to be set in stream configuration even when there was no downstream app ([Stream configuration shouldn't set requiredGroups property when there is no downstream app](https://github.com/pivotal/scdf-pro/issues/102)).
- Fixed a bug that prevented creation of a stream with `application-type` of `app` (SCDF-47, "Can not create a stream using application-type=app").

For information about additional bug fixes and improvements included in this release, see the [Spring Cloud Data Flow 2.9.5 release](https://github.com/spring-cloud/spring-cloud-dataflow/releases/tag/v2.9.5) on GitHub.

## <a id="1-4-3"></a>v1.4.3

**Release Date: April 21, 2022**

### Features

Features included in this release:

- Spring Cloud Data Flow has been updated to SCDF Pro version 1.4.5.
- Spring Cloud Skipper has been updated to 2.8.4.
- Upgrades to Spring Boot 2.5.12.
- Resolves [CVE-2022-22965](https://tanzu.vmware.com/security/cve-2022-22965).
- Resolves [CVE-2021-29425](https://nvd.nist.gov/vuln/detail/CVE-2021-29425).
- Improved error handling in UI ([UI clocking on runtime exceptions](https://github.com/spring-cloud/spring-cloud-dataflow-ui/issues/1840)).

### Fixes

- Fixed SCDF-43 ("Stream List Page - Clocking indefinitely").

## <a id="1-4-2"></a>v1.4.2

Version 1.4.2 is not available. Please install or upgrade to version 1.4.3 or later.

## <a id="1-4-1"></a>v1.4.1

**Release Date: January 26, 2022**

### Features

Features included in this release:

- Spring Cloud Data Flow has been updated to SCDF Pro version 1.4.2
- Spring Cloud Skipper has been updated to 2.8.2
- Composed Task Runner 2.9.2 container image is now provided

## <a id="1-4-0"></a>v1.4.0

**Release Date: November 03, 2021**

### Features

Features included in this release:

- Spring Cloud Data Flow has been updated to SCDF Pro version 1.4.1
- Spring Cloud Skipper has been updated to 2.8.1
- Composed Task Runner 2.9.1 container image is now provided
