---
title: Integrating with Tanzu Application Platform
owner: Spring Cloud Data Flow Release Engineering
---

Here you will find a list of articles that detail the integrations available when using Spring Cloud Data Flow for Kubernetes on Tanzu Application Platform.

<p class="note important">
<span class="note__title">Important</span>
The Tanzu Application Plaform integration described here is not yet a fully integrated solution.
Spring Cloud Data Flow for Kubernetes runs only on TAP clusters with this recommended approach.
</p>

## Better on Tanzu Application Platform

In addition to Spring Cloud Gateway OSS capabilities, the commercial Kubernetes offering provides additional commercial-only features. When this offering is installed on Tanzu Application Platform clusters, the operational and developer user experiences are further enhanced. The following sections will go over some of the commercial capabilities that should be considered as value added when migrating applications to Tanzu Application Platform.

### Configuring external access

Tanzu Application Platform includes Contour ingress controller. You can define an ingress to expose your [API Gateway](./guides-tap-exposing-traffic-contour.html) externally from the cluster.

## Migrating existing applications

This document outlines a way to integrate Spring Cloud Data Flow (SCDF) with 
Tanzu Application Platform (TAP). We cover how to add a few TAP resources that will provide integration, allowing you to deploy streams using a custom TAP Workload and then view the applications making up the SCDF stream in TAP's Developer Portal.

<p class="note important">
<span class="note__title">Important</span>
The approach in this document have been tested with the most recent SCDF version 2.11.2 and TAP versions 1.7 and 1.8 using a `full` profile.
</p>

The following topics have been created to support migration to Tanzu Application Platform:

* Step 1: [Install Spring Cloud Data Flow in the TAP cluster](./tap-integration/install-tap.html.md.erb)
* Step 2: [Create a supply chain for the SCDF streams](./tap-integration/create-supply-chain.html.md.erb)
* Step 3: [Create an OCI image for the Tekton pipeline](./tap-integration/create-oci-image.html.md.erb)
* Step 4: [Test your deployment](./tap-integration/test-deploy.html.md.erb)
